.App {
  text-align: center;
  display: inline-block;
  position: relative;
  left: 10%;
}
.buttons{
  width: 78vw;
  height: 98vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: center;
  padding:1rem;
}
.game-board {
  text-align: center;
  display: inline-block;
  position: relative;
  left: 10%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.counter-timer{
  padding-top: 2rem;
  height: 3rem;
  position: relative;
}

.timer {
  display: block;
  font-size: 3rem;
  font-family: 'Courier New', Courier, monospace;
  color: orange;
  position: absolute;
  right: 0;

}

.click-count {
  display: block;
  font-size: 3rem;
  font-family: 'Courier New', Courier, monospace;
  color: green;
  position: absolute;
  left: 0;
}

.container {
  max-width: 700px;
  padding-top: 1rem;
  width: 98.8vw;
  height: 80.8vh;
  border: 1px solid #110c0c;
  margin: 3px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  column-gap: 5px;
}

.square {
  width: 9rem;
  height: 9rem;
  border: 1px solid #050505;
  background-color: gray;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.findSquare {
  background-color: skyblue;
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.square:hover {
  border: 1px solid gray;
  background-color: lightgray;
  font-size: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}